<div class="heroBanner__Container">
  <div class="heroBanner__Colunm1 heroBanner_card card1">
    <img src="../../../assets/Images/f74aa826dbd0f0ad49a5498225b542fa.gif" alt="">

  </div>

  <div class="heroBanner__Colunm2 heroBanner_card card2" >
    <img src="../../../assets/Images/delivery-burger-cortes-asador.png" alt="card2">
    <h2>Get your First Chef Job.</h2>
    <p>Your first step'in the career path is to get a job.</p>
    <div class="card_buttonGrid">
      <a href=""><mat-icon>draw</mat-icon> Start Writing</a>
    </div>

  </div>
  <div class="heroBanner__Colunm3 heroBanner_card card3" >
    <img src="../../../assets/Images/pizza-calabresa.png" alt="card2">
    <h2>Get your First Chef Job.</h2>
    <p>Your first step'in the career path is to get a job.</p>
    <div class="card_buttonGrid">
      <a href=""><mat-icon>menu_book</mat-icon> Start Writing</a>
    </div>
  </div>

</div>
