/* big mobile small tablet*/
@media screen and (min-width: 586px) {
  .content {
    max-width: 768px;
  } 
}

/* tablet */
@media screen and (min-width: 768px) {  
  
  .lista-pokemons {
   grid-template-columns: 1fr 1fr 1fr;
 }
}

/* small desketop */
@media screen and (min-width: 1100px) {
 
  .lista-pokemons {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

/* desktop */
@media screen and (min-width: 1100px) {
}
