*{
padding: 0;
margin: 0
}

body {
background-color: bisque;
width: 900px;
margin: auto
}

.article {
 background-color: whitesmoke;
 padding: 15px;
 border: 3px solid black;
 border-radius: 20px;
 margin-bottom: 10px;
}

#main-title, .subtitle, .post-title {

color:grey

}


.post-title{
font-size:16px;
font-style: italic;
}

.post-image{
 margin-bottom: 15px;
 width: 100%;
}

.post-content{
    text-align: center;
}

.contacts-list{
    list-style-type: none;
    padding-left: 1px;


}

.contacts-list li a {

    text-decoration: none

}