// RESETS
@use './app/sass/variables' as *;


*,*::before,*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px
}

body{
  background-color: $bg1;
  overflow-x: hidden;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

ul{
  list-style-type: none;
}

a{
  text-decoration: none;
  color: inherit;
}




