<header>
  <div class="header__container">
    <img src="../../../assets/Images/63bd2412e4b530d52a92067d_CookBook Full White Cut.png" alt="logo" class="header__logo">

    <span class="header__searchIcon-container"><mat-icon>search</mat-icon></span>
  </div>
  <nav class="header__nav">
    <a href="http://">Dinners</a>
    <a href="http://">Restaurants</a>
    <a href="http://">Food News</a>

    <!-- <span class="switchMode" [ngStyle]="{'box-shadow': 'inset 0 0 20px ' + themeIconColor }"><mat-icon [ngStyle]="{'color': themeIconColor}" (click)="changeTheme()">{{theme}}</mat-icon></span> -->
  </nav>
</header>
