.type::before{
 content: "";
  position: absolute;
  width: 150px;
  height: 120px;
  border-radius: 20px;
  top: 0;
  left: 0;  
  z-index: -2;

}

.type-normal::before {
 background-color: #c2b5b0;
}
.type-normal .lista-pokemons-id {
 color: #c5b3af;
}
.type-normal .lista-pokemons-card-info {

background-color: #d6cdce;
}

.type-fighting::before {
 background-color: #d78c10
}

.type-fighting .lista-pokemons-id {
 color: #da7e11;
}
.type-fighting .lista-pokemons-card-info {

background-color: #f5c83d;
}

.type-flying::before {
 background-color: #a39e9a
}

.type-flying .lista-pokemons-id {
 color: #484c4e;
}
.type-flying .lista-pokemons-card-info {

background-color: #e5e0dc;
}

.type-poison::before {
 background-color: #b56fc2
}

.type-poison .lista-pokemons-id {
 color: #8a339b;
}
.type-poison .lista-pokemons-card-info {

background-color: #dfbae9;
}

.type-ground::before {
 background-color: #eb9435
}

.type-ground .lista-pokemons-id {
 color: #e27c38;
}
.type-ground .lista-pokemons-card-info {

background-color: #f8c837;
}

.type-rock::before {
 background-color: #d88738
}

.type-rock .lista-pokemons-id {
 color: #d17529;
}
.type-rock .lista-pokemons-card-info {

background-color: #eec18a;
}

.type-bug::before {
 background-color: #9fc74c
}

.type-bug .lista-pokemons-id {
 color: #97c24e;
}
.type-bug .lista-pokemons-card-info {

background-color: #b8d347;
}

.type-ghost::before {
 background-color: #9d6cae
}

.type-ghost .lista-pokemons-id {
 color: #7f52a7;
}
.type-ghost .lista-pokemons-card-info {

background-color: #bba2d0;
}

.type-steel::before {
 background-color: #cfc9c8
}

.type-steel .lista-pokemons-id {
 color: #c6b9b6;
}
.type-steel .lista-pokemons-card-info {

background-color: #d8d4d2;
}

.type-fire::before {
 background-color: #fb6c6c
}

.type-fire .lista-pokemons-id {
 color: #f56060;
}
.type-fire .lista-pokemons-card-info {

background-color: #fc8484;
}

.type-water::before {
 background-color: #76bdfe
}

.type-water .lista-pokemons-id {
 color: #6eb4f8;
}
.type-water .lista-pokemons-card-info {

background-color: #8fd0fe;
}

.type-grass::before {
  background-color: #46d1b2;
}
.type-grass .lista-pokemons-id {
  color: #3fc7a8;
}
.type-grass .lista-pokemons-card-info {

 background-color: #5de0c7;
}

.type-electric::before {
  background-color: #ffd86f;
}
.type-electric .lista-pokemons-id {
  color: #f0d23c;
}
.type-electric .lista-pokemons-card-info {

 background-color: #ffe17a;
}

.type-psychic::before {
  background-color: #dcaee6;
}
.type-psychic .lista-pokemons-id {
  color: #b266b7;
}
.type-psychic .lista-pokemons-card-info {

 background-color: #e3c9ef;
}

.type-ice::before {
 background-color: #83a1d5;
}
.type-ice .lista-pokemons-id {
 color: #6087d5;
}
.type-ice .lista-pokemons-card-info {

background-color: #ddeced;
}

.type-dragon::before {
 background-color: #889448;
}
.type-dragon .lista-pokemons-id {
 color: #787435;
}
.type-dragon .lista-pokemons-card-info {

background-color: #8d9c51;
}

.type-dark::before {
 background-color: #4c535a;
}
.type-dark .lista-pokemons-id {
 color: #414b4d;
}
.type-dark .lista-pokemons-card-info {

background-color: #90999f;
}

.type-fairy::before {
 background-color: #cb3f7f;
}
.type-fairy .lista-pokemons-id {
 color: #861d32;
}
.type-fairy .lista-pokemons-card-info {

background-color: #df4585;
}

.type-unknown::before{
 background-color: #a389c0;
}
.type-unknown .lista-pokemons-id {
 color: #a184b5;
}
.type-unknown .lista-pokemons-card-info {

background-color: #d1cae5;
}

.type-shadow::before {
 background-color: #a389c0;
}
.type-shadow .lista-pokemons-id {
 color: #a184b5;
}
.type-shadow .lista-pokemons-card-info {

background-color: #d1cae5;
}